<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
  <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-8">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">
      Create, Edit, and Upload Beautiful Places
    </h2>
    <p class="text-gray-700">
      At our website, we believe in the power of storytelling through visually
      stunning places. Our platform empowers you to create, edit, and share your
      favorite destinations with the world.
    </p>
    <p class="text-gray-700 mt-4">
      Unleash your creativity by crafting captivating descriptions that paint
      vivid pictures of the locations you hold dear. Upload your finest images,
      whether they capture breathtaking landscapes, architectural marvels, or
      hidden gems waiting to be discovered.
    </p>
    <p class="text-gray-700 mt-4">
      Through the seamless editing feature, you can refine and perfect every
      detail, ensuring your place is showcased in its most magnificent light.
      Let your imagination soar as you create a digital gallery of beauty and
      wonder.
    </p>
    <div class="flex justify-center mt-6">
      <a
        routerLink="/add-new-place"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold text-sm uppercase px-6 py-3 rounded-md transition-colors duration-300"
        >Get Started</a
      >
    </div>
  </div>
</div>
