<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-gray-800">404</h1>
      <h2 class="text-2xl font-semibold text-gray-800">Oops! Page not found</h2>
      <p class="text-gray-600 mt-4">The page you are looking for might have been removed or is temporarily unavailable.</p>
      <a routerLink="/home" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold text-sm uppercase px-6 py-3 mt-8 rounded-md transition-colors duration-300">Go back to homepage</a>
    </div>
  </div>